{% extends 'layout.html.twig' %}

{% block layout %}
    <h2>{{ article.title }}</h2>
    <h3>{{ article.chapo }}</h3>
    <p>{{ article.content }}</p>

    <hr>
    {% if article.updatedAt %}
        <p>Mis à jour le : {{ article.updatedAt|date('d/m/Y') }} par {{ article.user.email }}</p>
    {% else %}
        <p>Créé le : {{ article.createdAt|date('d/m/Y') }} par {{ article.user.email }}</p>
    {% endif %}

    {% if 'ROLE_ADMIN' in user.roles %}
        {{ include('_inc/_form.html.twig', {
            btn_class: 'btn btn-primary',
            icon: 'fa fa-add',
            text: 'Ajouter',
        }) }}
    {% else %}
        <div class="alert alert-info">
            Vous devez être connecté pour ajouter un commentaire.
        </div>
    {% endif %}

    <hr class="my-4" />

    <div id="comments">
        <h2>Commentaires</h2>
        {% for comment in comments %}
            <div class="comment">
                {{ comment.comment }}
                <hr>
            </div>
        {% else %}
            <p>Aucun commentaire</p>
        {% endfor %}
    </div>
{% endblock %}
