{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello {{ article.title }}</h1>

    <p>Chapo : {{ article.chapo }}</p>
    <p>Contenu : {{ article.content }}</p>
    <p>Auteur : {{ article.author }}</p>
    <p>Mis à jour le : {{ article.updatedAt }}</p>

    {{ include('_inc/_form.html.twig', {
        submit_value: 'Ajouter'
    }) }}

    <br><br>
    <br><br>
    <br><br>

    <div id="comments">
        <h2>Commentaires</h2>
        {% for comment in comments %}
            <div class="comment">
                {{ comment.comment }}
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}
