{% extends 'layout.html.twig' %}

{% block layout %}
    {% for article in articles %}
        <div class="post-preview">
            <a href="{{ path('show_article', {
                slug: article.slug
            }) }}">
                <h2 class="post-title">{{ article.title }}</h2>
                <h3 class="post-subtitle">{{ article.chapo }}</h3>
            </a>
            <p class="post-meta">
                Modifié le
                {{ article.updatedAt|date('d/m/Y') }}
            </p>
        </div>
        {{ include('_inc/_articles_actions.html.twig', {
            article: article
        }) }}
        <hr class="my-4" />
    {% endfor %}
{% endblock %}
