{% extends 'layout.html.twig' %}

{% block layout %}
    <h1>Hello from the admin</h1>

    <div class="col-12">
        {% for article in articles %}
            <h2>
                <a href="{{ path('show_article', {
                    slug: article.slug
                }) }}">
                    {{ article.title }}
                </a>
            </h2>
            <p>{{ article.content }}...</p>
            {{ include('_inc/_articles_actions.html.twig', {
                article: article
            }) }}
            <hr>
        {% endfor %}
    </div>

    <div class="col-12">
        {{ include('_inc/_link.html.twig', {
            btn_class: 'btn btn-primary',
            icon: 'fa fa-add',
            path: path('new_article'),
            text: 'Nouvel article',
        }) }}
    </div>

    <br>

    <div class="col-12">
        {% for comment in comments %}
            <p>{{ comment.comment }}</p>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
